
.about {
    background: var(--background-color-02);
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding: 48px 56px;

    // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) {
       padding: 48px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2.title {
            font-size: 28px;
            color: var(--font-color-dark);
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 80px;

            // Small devices (landscape phones, less than 768px)
            @media (max-width: 767.98px) {
               margin-bottom: 40px;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            gap: 100px;

             // Small devices (landscape phones, less than 768px)
             @media (max-width: 767.98px) {
                flex-direction: column;
                gap: 40px;
             }

            .who-am-i {
                max-width: 50%;

                 // Small devices (landscape phones, less than 768px)
                @media (max-width: 767.98px) {
                    max-width: 100%;
                }
            }

            .skills-and-experiences {
                max-width: 30%;

               // Large devices (desktops, less than 1200px)
                @media (max-width: 1199.98px) {
                    max-width: 35%;
                }

                 // Small devices (landscape phones, less than 768px)
                @media (max-width: 767.98px) {
                    max-width: 100%;
                }

                .badges {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    span {
                        height: 40px;
                        background-color: var(--background-badges);
                        border-radius: 8px;
                        color: var(--font-color-default);
                        font-size: 16px;
                        font-weight: 400;
                        padding: 8px 12px;

                        // Large devices (desktops, less than 1200px)
                        @media (max-width: 1199.98px) {
                            height: 34px;
                            font-size: 14px;
                        }
                    }
                }
            }

            h3.title {
                font-size: 24px;
                color: var(--font-color-light);
                font-weight: 500;
                margin-bottom: 20px;
            }

            p.description {
                font-size: 20px;
                color: var(--font-color-default);
                font-weight: 300;
                max-width: 580px;

                // Large devices (desktops, less than 1200px)
                @media (max-width: 1199.98px) {
                    font-size: 16px;
                }
            }
        }
    }
}