$background-color-01: #FFF7F4;
$background-color-02: #fbbaa499;
$background-color-03: #FBBAA4;

$font-color-dark: #2C171C;
$font-color-default: #3D2B33;
$font-color-light: #894934;

$background-badges: #FFECE5;