* {
    box-sizing: border-box;
    margin: 0;
}

body {
 padding: 0;
 margin: 0;
 font-family: 'Lexend', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0px 56px;
}

.header-menu {
    background-color: #FBBAA4;
    height: 60px;
    display: flex;
    justify-content: center;
}

.header-menu .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.header-menu .wrapper .profile-title-content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: auto;
}

.header-menu .wrapper .profile-title-content img.profile {
    border-radius: 50%;
}

.header-menu .wrapper .header-menu-navigation ul {
    list-style: none;
    display: flex;
    gap: 42px;
}

.header-menu .wrapper .header-menu-navigation ul li a {
    text-decoration: none;
    color: #2C171C;
    font-size: 18px;
    font-weight: 400;
}

.header-menu .wrapper .switches {
    display: flex;
    gap: 24px;
}
.header-menu .wrapper .switches .switch-language-content .switch-language {
    width: 78px;
    height: 36px;
    border-radius: 8px;
    background-color: rgba(44, 23, 28, 0.16);
    color: #2C171C;
    border: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme {
    position: absolute;
    margin-left: -999px;
    visibility: hidden;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;

    width: 62px;
    height: 32px;
    background-color: #2C171C;
    padding: 2px;
    border-radius: 100px;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme + label:before,
.header-menu .wrapper .switches .switch-theme-content .switch-theme + label:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    content: '';
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme + label:before {
    right: 2px;
    background-color: #2C171C;
    border-radius: 100px;
    transition: all 0.4s;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme + label:after {
    width: 28px;
    background-color: #FBBAA4;
    border-radius: 100%;
    transition: all 0.4s;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme:checked + label:before {
    background-color: white;
}

.header-menu .wrapper .switches .switch-theme-content .switch-theme:checked + label:after {
    transform: translateX(30px);
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/bg-pattern-hero.svg');
    background-color: #FBBAA4;
    background-size: cover;
    height: 90vh;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .container .title {
    font-size: 48px;
    text-transform: uppercase;
    color: #2C171C;
    font-weight: 700;
}

.hero .container .description {
    font-size: 24px;
    color: #2C171C;
    font-weight: 400;
    text-align: center;
    width: 54vw;
}

.hero .container .socials {
    display: flex;
    gap: 16px;
    align-items: center;
}

.about {
    background: rgba(251, 186, 164, 0.60);
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding: 48px 56px;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .container h2.title {
    font-size: 28px;
    color: #2C171C;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 80px;
}

.about .container .content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.about .container .content .who-am-i {
    max-width: 50%;
}

.about .container .content .skills-and-experiences {
    max-width: 30%;
}

.about .container .content h3.title {
    font-size: 24px;
    color: #894934;
    font-weight: 500;
    margin-bottom: 20px;
}

.about .container .content p.description {
    font-size: 20px;
    color: #3D2B33;
    font-weight: 300;
    max-width: 580px;
}

.about .container .content .skills-and-experiences .badges {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.about .container .content .skills-and-experiences .badges span {
    height: 40px;
    background-color: #FFECE5;
    border-radius: 8px;
    color: #3D2B33;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
}

.projects {
    background: #FFF7F4;
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding: 48px 0px;
}

.projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .container h2.title {
    font-size: 28px;
    color: #2C171C;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 80px;
}

.projects .container .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.projects .container .cards .card {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #FDD6C8;
    border-left: 4px solid #FDD6C8;
    height: 270px;
    width: 40%;
}

.projects .container .cards .card .card-content {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    max-width: 60%;
    gap: 20px;
}

.projects .container .cards .card img {
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid #FDD6C8;
}